# Dependencies
node_modules/

# Build
dist/
*.tsbuildinfo

# Environment
.env

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Browser Data (Playwright)
user_data/

# OS Specific
.DS_Store
Thumbs.db

# Optional: Keep lock files if you want reproducible builds
# package-lock.json
# yarn.lock

#testing
scripts/urls.txt

proxies.json
